@{
    Layout = "_Layout";
}

<h2>Form Registrasi</h2>

<form method="POST" action="/Registrasi/Tampil">
    <div class="form-group">
        <label for="Firstname">Firstname :</label>
        <input type="text" class="form-control" name="Firstname" />
    </div>
    <div class="form-group">
        <label for="Lastname">Lastname :</label>
        <input type="text" class="form-control" name="Lastname" />
    </div>
    <button class="btn btn-primary">Submit</button>
</form>